@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full min-h-[100vh];
}

.nav-list li:hover {
  @apply text-white bg-primary rounded-lg;
}

.nav-list li:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-list a {
  @apply flex items-center justify-center py-2 px-3;
}

.user-info > *:not(:last-child) {
  margin-right: 0.5rem;
}

.table * {
  @apply whitespace-nowrap;
}

.table thead th {
  @apply pb-2;
}

.table tbody tr:not(:last-child) {
  @apply border-b;
}

.table tr > *:first-child {
  @apply w-[10%];
}

.table tr > *:nth-child(2) {
  @apply w-[50%];
}

.table tr > *:nth-child(3) {
  @apply w-[20%];
}

.table tr > *:nth-child(4) {
  @apply w-[10%];
}

.table tr > *:last-child {
  @apply w-[10%];
}

.table tr > td:not(:nth-child(2)) {
  text-align: center;
}

.table td {
  @apply py-2;
}
